.Answer {
	min-height: 45.25rem;
	.content {
		margin-top: 3.125rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 30px;
	}
	.Answertem {
		transition: all 0.6ms ease-in-out;
		width: 100%;
		button {
			text-wrap: wrap;
			min-width: 6.25rem;
			width: 100%;
			max-width: 43.75rem;
			display: flex;
			justify-content: space-between;
			border-bottom: 0.0625rem solid #3b89ff;
			border-radius: 0%;
			height: 3.125rem;
			margin-top: 1.25rem;
			h4 {
				font-size: 0.9375rem;
				font-weight: 400;
				line-height: 1.125rem;
			}
		}
		.close {
			transform: scale(0);
		}
		.open {
			transform: scale(1);
			p {
				min-width: 6.25rem;
				width: 100%;
				max-width: 43.75rem;
				background: #00000044;
				padding: 1.25rem;
			}
		}
	}
	img {
		@media (max-width: 62.5rem) {
			width: 40%;
		}
		@media (max-width: 31.25rem) {
			display: none;
		}
	}
	@media (max-width: 56.25rem) {
		min-height: auto;
	}
}
[class='ant-dropdown-menu ant-dropdown-menu-root ant-dropdown-menu-vertical ant-dropdown-menu-light css-dev-only-do-not-override-1xg9z9n'] {
	background: #141523 !important;
	border: 2px solid #fff;
}
